.login-form-container {
  background-color: #2c364c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 400px;
  width: 500px;
  margin-left: 400px;
  margin-top: 200px;
}
.bg-container {
  border: 1px solid white;
  background-color: #272727;
  height: 100vh;
  width: 100%;
}
.login-button {
  margin-top: 20px;
  color: white;
  background-color: #4f46e5;
  border-radius: 5px;
  border: 1px solid #4f46e5;
  width: 200px;
  height: 30px;
}
.password {
  display: flex;
  flex-direction: column;
}
.username {
  display: flex;
  flex-direction: column;
}
.username-input-field {
  height: 30px;
}
.password-input-field {
  height: 30px;
}
.input-label {
  font-size: 20px;
  color: white;
}
.error-message{
  color:#ff0b37;
}
