.header-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #64748b;
  background-color: #2c364c;
  padding: 2px;
  text-align: center;
}
.btn {
  color: white;
  background-color: #4f46e5;
  width: 100px;
  height: 40px;
  margin-top: 10px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
.home {
  margin-right: 20px;
  color: white;
}
.jobs {
  color: white;
}
